.bicicletas{
    padding-top: 60px;
    padding-bottom: 120px;
    padding: 20px;
}


.lista-bicicleta{
    display: flex;
    gap: 40px;
    padding: 0 20px;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
    margin-top: 40px;
    overflow-x: auto;
   
}
.lista-bicicleta li{
    min-width: 280px;
    flex: 1;
}
.lista-bicicleta img{
    margin-bottom: 16px;
}
.lista-bicicleta a{
    display: block;
}
.lista-bicicleta h3{
    font-weight: bold;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}
.bicicletas h3::before{
    content: '';
    display: inline-block;
    background-color: var(--cor-p1);
    height: 8px;
    width: 12px;
    margin-right: 8px;
}
.bicicletas p{
    padding-left: 20px;
}

@media (max-width:800px){
    .bicicletas{
        padding-bottom: 60px;
    }
    .bicicletas ul{
        gap: 20px;
    }
}